automations/serwer-side.pl/WF3_generuj-grafike.json
{
  "name": "[SERWER-SIDE] WF3 — Generuj grafikę (DALL-E)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2400, 200],
      "id": "c1d2e3f4-0001-0001-0001-200000000001",
      "name": "Co 15 minut"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "32cb80c840ae816789c9e46a2afb39f1",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 5,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Generuj grafikę|checkbox",
              "condition": "equals",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [-2160, 200],
      "id": "c1d2e3f4-0002-0002-0002-200000000002",
      "name": "Pobierz wpisy do grafiki",
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion — serwer-side.pl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-items",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1920, 200],
      "id": "c1d2e3f4-0003-0003-0003-200000000003",
      "name": "Są wpisy?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1680, 80],
      "id": "c1d2e3f4-0004-0004-0004-200000000004",
      "name": "Loop — każdy wpis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-page-id",
              "name": "pageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "set-tytul",
              "name": "tytul_roboczy",
              "value": "={{ $json.properties['Tytuł roboczy'].rich_text[0]?.plain_text || $json.properties.Transkrypcja.title[0]?.plain_text || 'Post serwer-side.pl' }}",
              "type": "string"
            },
            {
              "id": "set-transkrypcja",
              "name": "transkrypcja",
              "value": "={{ $json.properties.Transkrypcja.title[0]?.plain_text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1440, 80],
      "id": "c1d2e3f4-0005-0005-0005-200000000005",
      "name": "Wyciągnij dane"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tytuł posta: {{ $json.tytul_roboczy }}\nTemat: {{ $json.transkrypcja.substring(0, 300) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Jesteś ekspertem od tworzenia promptów dla DALL-E dla marki serwer-side.pl.\n\n## WYTYCZNE WIZUALNE BRANDBOOK serwer-side.pl\n\n**Styl:** Flat vector, neo-brutalizm\n- Brak gradientów i efektów glow\n- Grube ramki 2-4px\n- Offset shadow 4-6px bez rozmycia\n- Geometryczna kompozycja, płaskie kolory\n\n**Paleta kolorów:**\n- Primary (dark navy): #0f172a\n- Accent (cyan): #06b6d4\n- White: #ffffff\n\n**Maskotka — Robocik:**\n- Flat vector, geometryczna postać robota\n- Ciało: dark navy/slate gray (#0f172a)\n- Akcenty: cyan (#06b6d4) — oczy, diody, panele\n- Charakter: mechanik/technik, przyjazny, lekko rozbawiony\n- ZAWSZE obecny w grafice\n\n**Typografia:** Inter (lub geometryczny sans-serif), bold dla nagłówków\n\n## ZADANIE\nNa podstawie tytułu posta wygeneruj:\n1. PROMPT do DALL-E 3 w języku angielskim (dla grafiki 1080x1080px)\n2. TEKST na grafikę (nagłówek max 6-8 słów, po polsku)\n\nPrompt powinien zawsze uwzględniać robocika i paletrę marki.\n\nOdpowiedź TYLKO w JSON:\n{\n  \"dalle_prompt\": \"angielski prompt dla DALL-E\",\n  \"tekst_na_grafice\": \"Nagłówek po polsku max 8 słów\",\n  \"opis_grafiki\": \"krótki opis co będzie na grafice\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-1200, 80],
      "id": "c1d2e3f4-0006-0006-0006-200000000006",
      "name": "Generuj prompt grafiki"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1200, 300],
      "id": "c1d2e3f4-0007-0007-0007-200000000007",
      "name": "OpenAI GPT-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI — serwer-side.pl"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"dalle_prompt\": \"Flat vector neo-brutalist social media graphic. Dark navy background #0f172a. Large cyan text '30% DANYCH ZNIKA'. Small friendly robot mascot in bottom right corner: geometric compact body, dark navy with cyan accents, flat style. Hard 2px white border with 4px offset shadow. No gradients. Clean and sharp. 1080x1080px.\",\n  \"tekst_na_grafice\": \"30% danych znika. Codziennie.\",\n  \"opis_grafiki\": \"Grafika z cyfrą 30% na ciemnym tle z robocikiem\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-960, 300],
      "id": "c1d2e3f4-0008-0008-0008-200000000008",
      "name": "Parser promptu"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "={{ $json.output.dalle_prompt }}",
        "options": {
          "n": 1,
          "size": "1024x1024",
          "quality": "hd",
          "style": "vivid",
          "responseFormat": "url"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-720, 80],
      "id": "c1d2e3f4-0009-0009-0009-200000000009",
      "name": "DALL-E 3 — generuj grafikę",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI — serwer-side.pl"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 80],
      "id": "c1d2e3f4-0012-0012-0012-200000000012",
      "name": "Pobierz grafikę (HTTP)"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Wyciągnij dane').item.json.tytul_roboczy.replace(/[^a-zA-Z0-9ąćęłńóśźżĄĆĘŁŃÓŚŹŻ ]/g, '_') + '_' + $now.format('yyyyMMdd_HHmm') + '.png' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Swa2m4MH_FrAGyCs0kjSEY8oZ-0oyrpb",
          "mode": "id"
        },
        "binaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-240, 80],
      "id": "c1d2e3f4-0013-0013-0013-200000000013",
      "name": "Wgraj na Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive — serwer-side.pl"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Wyciągnij dane').item.json.pageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Grafika|url",
              "urlValue": "=https://drive.google.com/file/d/{{ $json.id }}/view"
            },
            {
              "key": "Generuj grafikę|checkbox",
              "checkboxValue": false
            },
            {
              "key": "Status|status",
              "statusValue": "Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [0, 80],
      "id": "c1d2e3f4-0010-0010-0010-200000000010",
      "name": "Zapisz URL grafiki w Notion",
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion — serwer-side.pl"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-1680, 320],
      "id": "c1d2e3f4-0011-0011-0011-200000000011",
      "name": "Brak wpisów — koniec"
    }
  ],
  "pinData": {},
  "connections": {
    "Co 15 minut": {
      "main": [
        [{"node": "Pobierz wpisy do grafiki", "type": "main", "index": 0}]
      ]
    },
    "Pobierz wpisy do grafiki": {
      "main": [
        [{"node": "Są wpisy?", "type": "main", "index": 0}]
      ]
    },
    "Są wpisy?": {
      "main": [
        [{"node": "Loop — każdy wpis", "type": "main", "index": 0}],
        [{"node": "Brak wpisów — koniec", "type": "main", "index": 0}]
      ]
    },
    "Loop — każdy wpis": {
      "main": [
        [],
        [{"node": "Wyciągnij dane", "type": "main", "index": 0}]
      ]
    },
    "Wyciągnij dane": {
      "main": [
        [{"node": "Generuj prompt grafiki", "type": "main", "index": 0}]
      ]
    },
    "Generuj prompt grafiki": {
      "main": [
        [{"node": "DALL-E 3 — generuj grafikę", "type": "main", "index": 0}]
      ]
    },
    "OpenAI GPT-4.1-mini": {
      "ai_languageModel": [
        [{"node": "Generuj prompt grafiki", "type": "ai_languageModel", "index": 0}]
      ]
    },
    "Parser promptu": {
      "ai_outputParser": [
        [{"node": "Generuj prompt grafiki", "type": "ai_outputParser", "index": 0}]
      ]
    },
    "DALL-E 3 — generuj grafikę": {
      "main": [
        [{"node": "Pobierz grafikę (HTTP)", "type": "main", "index": 0}]
      ]
    },
    "Pobierz grafikę (HTTP)": {
      "main": [
        [{"node": "Wgraj na Google Drive", "type": "main", "index": 0}]
      ]
    },
    "Wgraj na Google Drive": {
      "main": [
        [{"node": "Zapisz URL grafiki w Notion", "type": "main", "index": 0}]
      ]
    },
    "Zapisz URL grafiki w Notion": {
      "main": [
        [{"node": "Loop — każdy wpis", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "serwer-side-wf3-v2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "serwer-side-pl"
  },
  "tags": ["serwer-side.pl", "notion", "grafika", "dalle", "image", "google-drive"]
}
