clients/maltaview/workflows/.backups/2026-04-28_pre-ip-fix/rkvyZWct7TVyfu4S.json
{
  "updatedAt": "2026-04-24T09:34:03.563Z",
  "createdAt": "2026-03-26T09:17:32.642Z",
  "id": "rkvyZWct7TVyfu4S",
  "name": "Maltaview PageView CAPI",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh-pv",
      "name": "Webhook – pageview",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "maltaview-pageview-v1",
      "parameters": {
        "httpMethod": "POST",
        "path": "maltaview-pageview",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://maltaview.pl"
        }
      }
    },
    {
      "id": "respond-pv",
      "name": "Odpowiedz 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      }
    },
    {
      "id": "code-pv",
      "name": "Przygotuj PageView",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        420
      ],
      "parameters": {
        "jsCode": "\nfunction sha256(ascii) {\n  function rightRotate(value, amount) { return (value >>> amount) | (value << (32 - amount)); }\n  const mathPow = Math.pow, maxWord = mathPow(2, 32);\n  let i, j, result = '';\n  const words = [], asciiBitLength = ascii.length * 8;\n  let hash = [], k = [], primeCounter = k.length;\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) isComposite[i] = candidate;\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1/3) * maxWord) | 0;\n    }\n  }\n  ascii += '\\x80';\n  while (ascii.length % 64 - 56) ascii += '\\x00';\n  for (i = 0; i < ascii.length; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return;\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n  for (j = 0; j < words.length; ) {\n    const w = words.slice(j, j += 16), oldHash = hash.slice(0);\n    for (i = 0; i < 64; i++) {\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ (~e & hash[6])) + k[i]\n        + (w[i] = (i < 16) ? w[i] : (w[i-16]\n          + (rightRotate(w15,7) ^ rightRotate(w15,18) ^ (w15 >>> 3))\n          + w[i-7] + (rightRotate(w2,17) ^ rightRotate(w2,19) ^ (w2 >>> 10))) | 0);\n      const temp2 = (rightRotate(a,2) ^ rightRotate(a,13) ^ rightRotate(a,22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.length = 8;\n    }\n    hash = hash.map((x, i) => (x + oldHash[i]) | 0);\n  }\n  for (i = 0; i < 8; i++)\n    for (j = 3; j + 1; j--) { const b = (hash[i] >> (j * 8)) & 255; result += (b < 16 ? '0' : '') + b.toString(16); }\n  return result;\n}\n\n// Walidacja fbc - odrzuca wartosci starsze niz 90 dni (format: fb.1.{timestamp_ms}.{fbclid})\nfunction isValidFbc(fbc) {\n  if (!fbc || typeof fbc !== 'string') return false;\n  const parts = fbc.split('.');\n  if (parts.length < 4) return false;\n  const ts = parseInt(parts[2], 10);\n  if (!ts || isNaN(ts)) return false;\n  const ninetyDaysMs = 90 * 24 * 60 * 60 * 1000;\n  return (Date.now() - ts) < ninetyDaysMs;\n}\n\nlet body = $input.first().json.body || $input.first().json;\nif (typeof body === \"string\") {\n  try { body = JSON.parse(body); } catch(e) { body = {}; }\n}\nconst headers = $input.first().json.headers || {};\n\n// Zmiana 1: event_id bez fallbacku - bez niego brak szansy na deduplikacje z Pixelem\nconst eventId = body.event_id;\nif (!eventId) return [];\n\nconst pageUrl   = body.page_url   || 'https://maltaview.pl';\nconst userAgent = body.user_agent || headers['user-agent'] || '';\nconst clientIp  = headers['x-real-ip'] || headers['x-forwarded-for'] || body.client_ip || '';\n\n// Zmiana 2: fbp tylko prawdziwy z cookie _fbp, bez fallsyfikatu\nconst fbp = body.fbp || '';\n\n// fbc: uzyj tylko gdy swiezy (< 90 dni), inaczej pomin\nconst fbc = isValidFbc(body.fbc) ? body.fbc : '';\n\n// Zmiana 3: USUNIETY external_id (hash z IP+UA dawal ten sam ID dla wielu userow przy Docker internal IP)\n\nconst userData = {\n  fbp: fbp || undefined,\n  fbc: fbc || undefined,\n  client_user_agent: userAgent || undefined,\n  client_ip_address: clientIp || undefined,\n  // Zmiana 5: country dla Polski - darmowy +EMQ, 99% ruchu z PL\n  country: [sha256('pl')]\n};\n\nObject.keys(userData).forEach(k => { if (userData[k] === undefined) delete userData[k]; });\n\nconst capiData = {\n  data: [{\n    event_name: 'PageView',\n    event_time: Math.floor(Date.now() / 1000),\n    event_id: eventId,\n    action_source: 'website',\n    event_source_url: pageUrl,\n    user_data: userData\n  }]\n};\n\nreturn [{ json: { capiData, eventId, pageUrl } }];\n"
      }
    },
    {
      "id": "capi-pv",
      "name": "Meta CAPI – PageView",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/2073661919762572/events",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAFjZBt5gTMgBRGAzLTdvZAGwtZAI889wwCP8OUT9x8A4yH4gWXb1nZBUnbZBsPkdMEOy8sFrQea1sRkGbMjS5nsB8DTihiCifZAX2WHXRFsnvZAnoVrHGhLn9vfUFYzomDZCC7C5F6pfJZAiqUQQbdPxPFJnVrL9gzyUZBgobX6QjiZAMud4y8nA0wqjWfeeaqXQZDZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.capiData }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook – pageview": {
      "main": [
        [
          {
            "node": "Odpowiedz 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Przygotuj PageView",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj PageView": {
      "main": [
        [
          {
            "node": "Meta CAPI – PageView",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ffa05089-5453-4d4d-a97b-ed5d21801d54",
  "activeVersionId": "ffa05089-5453-4d4d-a97b-ed5d21801d54",
  "versionCounter": 29,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-26T09:17:32.645Z",
      "createdAt": "2026-03-26T09:17:32.645Z",
      "role": "workflow:owner",
      "workflowId": "rkvyZWct7TVyfu4S",
      "projectId": "CZ14xGXI3u9A3KEX",
      "project": {
        "updatedAt": "2025-10-21T09:23:02.408Z",
        "createdAt": "2025-10-21T09:20:10.146Z",
        "id": "CZ14xGXI3u9A3KEX",
        "name": "Helllo Twisted <twistedpixeldocs@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5e082583-0180-48ad-9ce7-74dc08cb6032",
        "projectRelations": [
          {
            "updatedAt": "2025-10-21T09:20:10.146Z",
            "createdAt": "2025-10-21T09:20:10.146Z",
            "userId": "5e082583-0180-48ad-9ce7-74dc08cb6032",
            "projectId": "CZ14xGXI3u9A3KEX",
            "user": {
              "updatedAt": "2026-04-27T22:00:09.000Z",
              "createdAt": "2025-10-21T09:20:09.774Z",
              "id": "5e082583-0180-48ad-9ce7-74dc08cb6032",
              "email": "twistedpixeldocs@gmail.com",
              "firstName": "Helllo",
              "lastName": "Twisted",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-21T09:23:38.462Z",
                "personalization_survey_n8n_version": "1.115.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "automationGoalSm": [],
                "role": "sales-and-marketing",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "INXFNoFpOP9S9WVz",
                "userActivatedAt": 1761671131938,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761986541329
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-24T09:34:03.564Z",
    "createdAt": "2026-04-24T09:34:03.564Z",
    "versionId": "ffa05089-5453-4d4d-a97b-ed5d21801d54",
    "workflowId": "rkvyZWct7TVyfu4S",
    "nodes": [
      {
        "id": "wh-pv",
        "name": "Webhook – pageview",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "maltaview-pageview-v1",
        "parameters": {
          "httpMethod": "POST",
          "path": "maltaview-pageview",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "https://maltaview.pl"
          }
        }
      },
      {
        "id": "respond-pv",
        "name": "Odpowiedz 200",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          460,
          160
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"status\": \"ok\" }",
          "options": {}
        }
      },
      {
        "id": "code-pv",
        "name": "Przygotuj PageView",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          420
        ],
        "parameters": {
          "jsCode": "\nfunction sha256(ascii) {\n  function rightRotate(value, amount) { return (value >>> amount) | (value << (32 - amount)); }\n  const mathPow = Math.pow, maxWord = mathPow(2, 32);\n  let i, j, result = '';\n  const words = [], asciiBitLength = ascii.length * 8;\n  let hash = [], k = [], primeCounter = k.length;\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) isComposite[i] = candidate;\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1/3) * maxWord) | 0;\n    }\n  }\n  ascii += '\\x80';\n  while (ascii.length % 64 - 56) ascii += '\\x00';\n  for (i = 0; i < ascii.length; i++) {\n    j = ascii.charCodeAt(i);\n    if (j >> 8) return;\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n  for (j = 0; j < words.length; ) {\n    const w = words.slice(j, j += 16), oldHash = hash.slice(0);\n    for (i = 0; i < 64; i++) {\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ (~e & hash[6])) + k[i]\n        + (w[i] = (i < 16) ? w[i] : (w[i-16]\n          + (rightRotate(w15,7) ^ rightRotate(w15,18) ^ (w15 >>> 3))\n          + w[i-7] + (rightRotate(w2,17) ^ rightRotate(w2,19) ^ (w2 >>> 10))) | 0);\n      const temp2 = (rightRotate(a,2) ^ rightRotate(a,13) ^ rightRotate(a,22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.length = 8;\n    }\n    hash = hash.map((x, i) => (x + oldHash[i]) | 0);\n  }\n  for (i = 0; i < 8; i++)\n    for (j = 3; j + 1; j--) { const b = (hash[i] >> (j * 8)) & 255; result += (b < 16 ? '0' : '') + b.toString(16); }\n  return result;\n}\n\n// Walidacja fbc - odrzuca wartosci starsze niz 90 dni (format: fb.1.{timestamp_ms}.{fbclid})\nfunction isValidFbc(fbc) {\n  if (!fbc || typeof fbc !== 'string') return false;\n  const parts = fbc.split('.');\n  if (parts.length < 4) return false;\n  const ts = parseInt(parts[2], 10);\n  if (!ts || isNaN(ts)) return false;\n  const ninetyDaysMs = 90 * 24 * 60 * 60 * 1000;\n  return (Date.now() - ts) < ninetyDaysMs;\n}\n\nlet body = $input.first().json.body || $input.first().json;\nif (typeof body === \"string\") {\n  try { body = JSON.parse(body); } catch(e) { body = {}; }\n}\nconst headers = $input.first().json.headers || {};\n\n// Zmiana 1: event_id bez fallbacku - bez niego brak szansy na deduplikacje z Pixelem\nconst eventId = body.event_id;\nif (!eventId) return [];\n\nconst pageUrl   = body.page_url   || 'https://maltaview.pl';\nconst userAgent = body.user_agent || headers['user-agent'] || '';\nconst clientIp  = headers['x-real-ip'] || headers['x-forwarded-for'] || body.client_ip || '';\n\n// Zmiana 2: fbp tylko prawdziwy z cookie _fbp, bez fallsyfikatu\nconst fbp = body.fbp || '';\n\n// fbc: uzyj tylko gdy swiezy (< 90 dni), inaczej pomin\nconst fbc = isValidFbc(body.fbc) ? body.fbc : '';\n\n// Zmiana 3: USUNIETY external_id (hash z IP+UA dawal ten sam ID dla wielu userow przy Docker internal IP)\n\nconst userData = {\n  fbp: fbp || undefined,\n  fbc: fbc || undefined,\n  client_user_agent: userAgent || undefined,\n  client_ip_address: clientIp || undefined,\n  // Zmiana 5: country dla Polski - darmowy +EMQ, 99% ruchu z PL\n  country: [sha256('pl')]\n};\n\nObject.keys(userData).forEach(k => { if (userData[k] === undefined) delete userData[k]; });\n\nconst capiData = {\n  data: [{\n    event_name: 'PageView',\n    event_time: Math.floor(Date.now() / 1000),\n    event_id: eventId,\n    action_source: 'website',\n    event_source_url: pageUrl,\n    user_data: userData\n  }]\n};\n\nreturn [{ json: { capiData, eventId, pageUrl } }];\n"
        }
      },
      {
        "id": "capi-pv",
        "name": "Meta CAPI – PageView",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          700,
          420
        ],
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v19.0/2073661919762572/events",
          "sendQuery": true,
          "specifyQuery": "keypair",
          "queryParameters": {
            "parameters": [
              {
                "name": "access_token",
                "value": "EAAFjZBt5gTMgBRGAzLTdvZAGwtZAI889wwCP8OUT9x8A4yH4gWXb1nZBUnbZBsPkdMEOy8sFrQea1sRkGbMjS5nsB8DTihiCifZAX2WHXRFsnvZAnoVrHGhLn9vfUFYzomDZCC7C5F6pfJZAiqUQQbdPxPFJnVrL9gzyUZBgobX6QjiZAMud4y8nA0wqjWfeeaqXQZDZD"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ $json.capiData }}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook – pageview": {
        "main": [
          [
            {
              "node": "Odpowiedz 200",
              "type": "main",
              "index": 0
            },
            {
              "node": "Przygotuj PageView",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Przygotuj PageView": {
        "main": [
          [
            {
              "node": "Meta CAPI – PageView",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Helllo Twisted",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-24T09:34:03.604Z",
        "id": 171,
        "workflowId": "rkvyZWct7TVyfu4S",
        "versionId": "ffa05089-5453-4d4d-a97b-ed5d21801d54",
        "event": "activated",
        "userId": "5e082583-0180-48ad-9ce7-74dc08cb6032"
      }
    ]
  }
}